<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <!--<link href="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.css" rel="stylesheet">-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.js"></script>-->
    <link rel="stylesheet" href="{% static 'semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/semantic.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'css/semantic.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'css/home.css' %}">-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
    <script src="{% static 'semantic.js' %}"></script>
    <script src="{% static 'js/index.js' %}"> </script>

</head>
<body>



<select class="ui dropdown type">
  <option value="">type</option>
  <option value="1">Stock</option>
  <option value="2">FX</option>
  <option value="3">Equity</option>
  <option value="4">Incices</option>
  <option value="5">EFTs</option>
  <option value="6">Options</option>
</select>

<select class="ui dropdown product">
  <option value="">product</option>
  <option value="1">AACC</option>
  <option value="2">OIL</option>
  <option value="3">heheh</option>
  <option value="4">didid</option>
    <option value="5">GBPUSD</option>
</select>

<select class="ui dropdown indicator">
  <option value="">BackTest Indicator</option>
  <option value="1">London Breakout</option>
  <option value="2">Dual Thrust</option>
  <option value="3">Pair Trading</option>
  <option value="4">Parabolic SAR</option>
</select>

<div class="ui calendar from" id="example1">
    from:
    <div class="ui input right icon">
        <i class="calendar icon"></i>
        <input type="text" placeholder="Date" class="date-from" value="2011-06-01">
    </div>
</div>

<div class="ui calendar to" id="example2">
    To:
    <div class="ui input right icon">
        <i class="calendar icon"></i>
        <input type="text" placeholder="Date" class="date-to" value="2011-06-11">
    </div>
</div>

<button class="ui button report">Report</button>
 <input type="submit" name="submit"/>
<table border="1">
    <caption>show test data</caption>
    {% for line in test_data %}
        <tr>
        {% for i in line %}
        <td>{{ i }}</td>
        {% endfor %}

        </tr>
    {% endfor %}

</table>

</body>
</html>